@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navBar */

.navbar {
  @apply w-full h-24 relative;
}
.nav-items {
  @apply w-full max-h-12 bottom-0  absolute;
}
.nav-item.float-left {
  @apply h-12 text-white text-base flex  ml-28 border-opacity-0 hover:border-opacity-100 border-b-3 border-secondary;
}
.nav-item.float-right {
  @apply h-12 mx-4 text-white text-base border-b-3 border-secondary  border-opacity-0 hover:border-opacity-100;
}
.nav-item-register {
  @apply py-1 px-6 ml-28 float-left bg-white hover:bg-orange text-base text-primary hover:text-white rounded-2xl;
}

/* header */

.header {
  @apply w-full bg-cover bg-no-repeat duration-500;
  height: 60rem;
}

.filter {
  @apply w-full bg-primary bg-opacity-75 mix-blend-hard-light;
  height: 60rem;
}

.motto {
  @apply mt-36 mr-36 text-heading text-white font-extrabold;
}
.solutions {
  @apply flex flex-col absolute left-52 top-64;
}
.solutions-item {
  @apply font-extrabold z-auto bg-gray-300 hover:bg-dark-blue text-5xl rounded-full text-blue-700 text-base mb-6 w-64 h-24 duration-500;
}
.solutions-button {
  @apply font-extrabold bg-white hover:bg-orange text-primary hover:text-white  text-5xl rounded-full  text-base mt-16 bottom-48 w-64 h-24;
}

.item-visible {
  @apply visible opacity-100;
}
.item-hidden {
  @apply invisible opacity-0 overflow-hidden duration-500;
}

.tooltip {
  @apply relative inline-block;
}

.tooltip .tooltiptext {
  @apply text-base font-normal p-4 invisible bg-tooltip-green text-primary text-right rounded-md absolute z-10 -top-8;

  width: 26.625rem;
  left: 107%;
}

.tooltip .tooltiptext::after {
  @apply absolute top-1/2 right-full border-solid;

  content: "";

  margin-top: -5px;
  border-width: 16px;

  border-color: transparent #cdd500 transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.bars {
  @apply float-left ml-24 mt-16 w-14 h-7;
}

ul.breadcrumb {
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 30px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ">";
}
ul.breadcrumb li a {
  color: #b1b1b1;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #595959;
  text-decoration: underline;
}
/*carousel*/
ul.carousel {
  @apply mr-28 my-4;
  display: flex;
  flex-wrap: wrap;
}
ul.carousel li {
  @apply my-4;
}

/* card */
.card {
  @apply bg-cover bg-bottom h-96 w-96 rounded-3xl bg-center ml-20;
}
.card-filter {
  @apply bg-gradient-to-b h-96 w-96 rounded-3xl relative;
}
.card-body {
  @apply flex flex-col m-auto;
}
.card-body img {
  @apply w-12 h-12 flex-1 mx-auto mt-12;
}
.card-body p {
  @apply text-white flex-1 mt-1  text-center;
}
.card-body button {
  @apply bg-dark-red hover:bg-red-800  rounded-3xl w-36 h-12 py-1 px-6 text-base text-white mt-16 flex-1 m-auto;
}
/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}
