@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navBar */

.navbar {
  @apply w-full h-24 bg-dark-blue relative;
  
}
.nav-items{
  @apply w-full max-h-12 bottom-0  absolute;
}
.nav-item.float-left{
  @apply h-12 text-white text-base flex  ml-28 border-opacity-0 hover:border-opacity-100 border-b-3 border-secondary ;
  
}
.nav-item.float-right{
  @apply h-12 mx-4 text-white text-base border-b-3 border-secondary  border-opacity-0 hover:border-opacity-100 ;
  
}
.nav-item-register{
  @apply py-1 px-6 ml-28 float-left bg-white hover:bg-orange text-base text-primary hover:text-white rounded-2xl;
}

/* header */

.header {
  @apply w-full bg-header1-image  bg-cover bg-no-repeat ;
  height:60rem;

  }

  .filter {
    
    @apply w-full bg-primary bg-opacity-75 mix-blend-hard-light ; 
    height:60rem;
}

.motto{
  @apply  mt-36 mr-36 text-heading text-white font-extrabold;
}
.solutions{
  @apply flex flex-col absolute left-52 top-64;
}
.solutions-item{
  @apply font-extrabold z-auto bg-gray hover:bg-dark-blue  text-5xl rounded-full text-blue-700 text-base mb-6 w-64 h-24 duration-500;
}
.solutions-button{
  @apply font-extrabold bg-white hover:bg-orange text-primary hover:text-white  text-5xl rounded-full  text-base mt-16 bottom-48 w-64 h-24 
}

.button-visible{
  @apply visible opacity-100 ; 
}
.button-hidden{
  @apply invisible opacity-0 overflow-hidden transition-all duration-500;
}
